.form {
    background-color: #efefef;
    width: 400px;
    height: 50px;
    border-radius: 7px;
    padding: 20px;
}

body {
    padding-top: 50px;
}

p {
    font-size: 1.25em;
}

a:visited {
    color: palevioletred
}

.bigFont {
    font-size: 1.5em;
}